<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HACFacingLog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA34CD261D65B8D000080012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7261701D51E4C900DD35BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7261A71D51F60600DD35BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
